@import './Others_proyects.less';
@import './Conocimientos.less';


.article{
    width: 90%;
    min-height: 100vh;
    height: auto;
    margin: auto;


    .article_proyects{
        width: 100%;
        .flex(row,wrap,center,flex-start);

        .cont_text{
            width: 45%;
            p:first-child{
                color:@blue-light;
                font-size: 30px;
                font-weight: 300;
                margin-top: 0;
            }

            h5{
                color:@blue;
                font-size: 22px;
                font-weight: bold;
                margin: 0;
            }

            p:last-child{
                margin-top: 4px;
                font-weight: 300;
                font-size: 21px;
                color :@grey;
            }

        }

        .cont_img{
            width: 55%;

            display :grid;
            grid-template-columns: repeat(2,minmax(100px,360px));
            grid-template-rows: repeat(2,minmax(100px,269px));
            grid-gap: 20px;
            
            align-items: center;
            justify-content: center;
            
            
            .item{
                width: 100%;
                height: 100%;
                padding: 0px;
                border: none;
                cursor: pointer;
                background: #fcf7f7;
                box-shadow:  7px 7px 14px #bab7b7,
                -7px -7px 14px #ffffff;
                
                .flex(row,wrap,center,center);
                position: relative;
                transition: all 0.3s;

                &:hover{
                    background: #fcf7f7;
                    box-shadow:  19px 19px 38px #9a9797
                }


                &:hover img {
                    filter: contrast(50%);
                }

                img{
                    width: 100%;
                    height: 100%;
                    transition: all 0.3s;                    
                }



            }



            .item:first-child{
                grid-column: 1/2;
                grid-row: 1/3;
            }

            .item::after{
                content: 'Click Para Ver Detalles';
                padding: 10px 20px;
                background: @dark;
                color: white;
                position: absolute;
                transition: all 0.3s;
                opacity: 0;
            }
            .item:hover::after{
                opacity: 1;
            }




        }

    }



}


@media (max-width:1000px){


    .article{
        height: auto;
        min-height: auto;

        .article_proyects{
            .cont_text{
                width: 100%;
            }

            .cont_img{

                width: 100%;
                grid-template-columns: repeat(auto-fill,max(270px ));
                grid-template-rows: repeat(2,max(200px) );
                margin-bottom: 50px;

                .item:first-child{
                    grid-column: 1/2;
                    grid-row: 1/2;
                }

            }
        }

    }



}


