
*{
    font-family: @font;
    color: @dark;

}

.flex(@direction,@type,@justify,@align){
    display :flex;
    flex-flow: @direction @type;
    justify-content: @justify;
    align-items: @align;
}

@keyframes activeLink{
    0%{
        width: 0;
    }

    100%{
        width:130%
    }
}


@import './variables/index.less';
@import './Header/index.less';
@import './Modal/index.less';
@import './Proyects/index.less';
@import './Contact/index.less';
@import './Footer/index.less';
@import './PageLoader/index.less';
@import './ProgresBar/index.less';
